<launch>
    <!-- send urdf to param server -->
    <param name="table_description" command="$(find xacro)/xacro 
		$(find panda_controller)/models/table.urdf.xacro" />
    <param name="object_description" command="$(find xacro)/xacro 
		$(find panda_controller)/models/object.urdf.xacro" />


    <!-- spawn objects in gazebo -->
    <node name="spawn_table1" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param table_description -x 0.5 -model table1" respawn="false" />

    <node name="spawn_table2" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param table_description -y 0.5 -model table2" respawn="false" />

    <node name="spawn_object" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param object_description -model object" respawn="false" />
</launch>
