<launch>
    <!-- send urdf to param server -->
    <param name="target_location_description" command="$(find xacro)/xacro 
		$(find panda_controller)/models/target_location.urdf.xacro" />
    <param name="target_object_description" command="$(find xacro)/xacro 
		$(find panda_controller)/models/target_object.urdf.xacro" />


    <!-- spawn objects in gazebo -->
    <node name="spawn_target_location" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param target_location_description -model target_loc" respawn="false" />

    <node name="spawn_target_object" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param target_object_description -model target_obj" respawn="false" />
</launch>
