<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="table" >
    <!-- Variables: -->
    <xacro:property name="position" value="0.0 0.0 0.2" />
    <xacro:property name="radius" value="0.2" />
    <xacro:property name="length" value="0.4" />
    <!-- Used for fixing robot to Gazebo 'world' -->
    <link name="world" />
    <joint name="fixed" type="fixed">
        <parent link="world" />
        <child link="core" />
    </joint>
    
    <link name="core">
        <inertial>
            <origin xyz="${position}" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia
                ixx="0.0" ixy="0.0" ixz="0.0"
                iyy="0.0" iyz="0.0"
                izz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="${position}" />
            <geometry>
                <cylinder radius="${radius}" length="${length}"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="${position}" />
            <geometry>
                <cylinder radius="${radius}" length="${length}"/>
            </geometry>
        </collision>
    </link>
    <!-- Gazebo settings -->
    <gazebo reference="core">
        <gravity>0</gravity>
        <material>Gazebo/PaintedWall</material>
    </gazebo>
</robot>
